<section class="busStationSelect">
  <h2>バス停選択</h2>
  <div class="startBusStation">
    <label for="startBusStation">のりば</label>
    <select name="startBusStation" id="startBusStation" ng-options="s.id as s.name for s in busstationselect.stationList" ng-model="busstationselect.startStation">
      <option value="">バス停を選択してください。</option>
    </select>
  </div>

  <div class="goalBusStation">
    <label for="goalBusStation">行き先</label>
    <select name="goalBusStation" id="goalBusStation" ng-options="s.id as s.name for s in busstationselect.stationList" ng-model="busstationselect.goalStation">
      <option value="">バス停を選択してください。</option>
    </select>
  </div>
  <button type="button" class="busLineSearchBtn" ng-click="busstationselect.lineSelectPush()">検索する</button>
</section>

<section class="busLineSelect" ng-show="busstationselect.lineSelected">
        <h2>乗車バス選択</h2>
        <ul class="busLineList">
          <li>
            <a ng-href="/bushere" href="">
              <span class="busLineName">11番線</span>
              <span class="busTime">13時17分着</span>
            </a>
          </li>

          <li>
            <a ng-href="/bushere" href="">
              <span class="busLineName">16番線</span>
              <span class="busTime">13時20分着</span>
            </a>
          </li>

          <li>
            <a ng-href="/bushere" href="">
              <span class="busLineName">11番線</span>
              <span class="busTime">14時07分着</span>
            </a>
          </li>

        </ul>

      </section>
