<section class="busStationSelect">
  <h2>バス停選択</h2>
  <div class="startBusStation">
    <label for="startBusStation">のりば</label>
    <select name="startBusStation" id="startBusStation">
      <option value="">鴨池新町</option>
      <option value="">県庁前</option>
      <option value="">ニュータウン中央</option>
    </select>
  </div>
  <div class="goalBusStation">
    <label for="goalBusStation">行き先</label>
    <select name="goalBusStation" id="goalBusStation">
      <option value="">鹿児島中央駅前</option>
      <option value="">鹿児島駅前</option>
      <option value="">イオン鹿児島</option>
    </select>
  </div>
</section>

<section class="busLineSelect">
        <h2>乗車バス選択</h2>
        <ul class="busLineList">
          <li>
            <a ng-href="/bushere" href="">
              <span class="busLineName">11番線</span>
              <span class="busTime">13時17分着</span>
            </a>
          </li>

          <li>
            <a ng-href="/bushere" href="">
              <span class="busLineName">16番線</span>
              <span class="busTime">13時20分着</span>
            </a>
          </li>

          <li>
            <a ng-href="/bushere" href="">
              <span class="busLineName">11番線</span>
              <span class="busTime">14時07分着</span>
            </a>
          </li>

        </ul>

      </section>
